body { font-family: 'Montserrat', sans-serif;
   
}

.nav-inicio {
    position: absolute;
    padding: 80px 0 0 145px;
    
    
}

.nav-item {
    display: inline-block;
    padding-right: 30px;
    text-transform: uppercase;
    font-family: fsemeric;
    font-weight: bold;
    font-size: 77%;
    letter-spacing: .75px;
    vertical-align: middle;
}


.nav-item:first-child {
    vertical-align: middle;
   
}



li a {
    text-decoration: none;
    color: white;
}



.container-inicio {
    width: 1361px;
    height: 721px;
    
    background: radial-gradient(circle at top right, rgba(10,81,92,1) 0%, rgba(41,49,50,1) 33%);
}

.bloco-inicio {
    margin: 0 auto;
    height: 100%;
    width: 80%;

}

div p {
    margin: 0 auto;
}

.container-2 {
    width: 1361px;
    height: 394px;
    background: rgb(41,49,50);
    background: linear-gradient(273deg, rgba(41,49,50,1) 0%, rgba(10,81,92,1) 56%);
}

.bloco-2 {
    margin: 0 auto;
    height: 100%;
    width: 80%;
}

.container-3 {
    width: 1361px;
    height: 494px;
    background: rgba(41,49,50,1);
}

.bloco-3 {
    margin: 0 auto;
    height: 100%;
    width: 80%;
}

.container-4 {
    width: 1361px;
    height: 394px;
    background: rgb(41,49,50);
    background: linear-gradient(273deg, rgba(41,49,50,1) 0%, rgba(10,81,92,1) 56%);
}

.bloco-4 {
    margin: 0 auto;
    height: 100%;
    width: 80%;

}