<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" lang="pt-br">
    <meta name="viewport" content="width=device-width">
    <title>Medsmart</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>Teste</title>
</head>
<body>
    <h1>Mensagem do dia</h1>
    <p>{{msgdia}}</p>
    
</body>
</html>