<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" lang="pt-br">
        <meta name="viewport" content="width=device-width">
        <title>Medsmart</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div class="container-bloco">
                
            </div>
        </div>

        {{#each dados}}
            <div class="container">
                <div class="containter-bloco">
                    <h3>{{titulo}}</h3>
                    <p>{{{texto}}}</p>
                </div>
            </div>
        {{/each}}
        


    </body>
</html>
    